@import '~assets/css/base.scss';

#root {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.app {
  width: 100%;
  height: 100%;

  .mainArea {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    // display: grid;
    // grid-template-columns: auto 1fr;
  }
}
